.row {
    margin-top: 5px;
}
.jumbotron{
    padding: 1rem 2rem;
    margin: 0;
}
.table{
    table-layout: fixed;
}
.overflowRe{
    max-height: 500px;
    max-width: 107%;
    overflow: auto;
}
.noPadding{
    padding: 0;
}
.btnRmDanger {
    align-items: center;
    display: flex;
}
